body{
    color:                  #CC0000;                   
	font-family:            Elysia, Tahoma, Helvetica, Verdana;
    font-size:              24px;
    background-image: 		url('/static/images/mainBackground.jpg');
    background-size: 		1366px 1500px;
    background-repeat: 		no-repeat;
    background-position: 	center;
    background-attachment:	fixed;    
}
a:link {
    text-decoration:        none;
    color:                  #8C001A;	
  }
a:visited{
	color:                  #8C001A;	
}
a:hover{
    color:                  #CC0000;
}
i {
    font-family: ionicons;
}

h1{
   font-family:             ElysiaBold, Elysia, Tahoma, Helvetica, Verdana;
   font-size:               60px; 
}
h2{
    font-family:            ElysiaBold, Elysia, Tahoma, Helvetica, Verdana;
    font-size:              26px;
}
h3{
    font-family:            ElysiaSemi, Elysia, Tahoma, Helvetica, Verdana;      
    color:                  #8C001A;
    font-size:              24px;	
}
p{
    font-size: 15px;
    font-family: Ubuntu, Tahoma, Helvetica, Verdana;
}
#container{
    display: table;
    height: 100%;
    width: 100%;
}
#middle{
    display: table-cell;
    vertical-align: middle;
}
#TopHeading{
    background-color:       rgba(255,255,255,0.6);
    position:               fixed;
    top:                    0;
    left:                   0;
    text-align:             center;
    width:                  100%;
    padding-top:            10px;
    padding-bottom:         10px;
    -webkit-box-shadow: 	0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 			0px 1px 6px rgba(23, 69, 88, .5); 
}
#TopHeading li {
    list-style-type: none;
    font-size: 70px;
}
#Heading{
    margin-left:            auto;
    margin-right:           auto;
    height:                 auto;
    margin-top:             17%;
    margin-bottom:          17%;
    word-wrap: 				break-word;
    text-align: 			center;
}
#headingTitle{
    background-image:       url( "/static/images/mainTitle.png" );
    height:                 300px;
    background-repeat:      no-repeat;
    background-position:    center;
}
#Heading h1{
    width: 				    320px;
	max-width: 				320px;
	padding-top: 			200px;
}
#Heading a{
    font-size:              35px;
    padding: 1em;
}
.Links{
    position: relative;
}
#FirstSubheading{
    padding-top:            75px;
    padding:                1em;
    width:                  1000px;
    margin-left:            auto;
    margin-right:           auto;
    height:                 auto;
    word-wrap: 				break-word;
    text-align:             center;
}
#FirstSubheading h1{
	padding:                1em;
}
#FirstSubheading h2{
	text-align:             center;
}
#FirstSubheading a:visited{
    color:                  #CC0000;
}
#BlogUpdate{
	background-color:       rgba(255,255,255,0.6);
    border: 				.5px solid #444;
    -webkit-box-shadow: 	0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 			0px 1px 6px rgba(23, 69, 88, .5);
    padding: 				        1em;
    margin-right:           5px;
    margin-bottom:          0.5em;
    padding: 				        0.8em;
    width:                  283px;
    height:                 400px;
    max-height:             400px;
    word-wrap: 				break-word;
}
#BlogUpdate h2{
    color:                  #8C001A;
    margin-bottom:          0px;
}
#BlogUpdate p{
    text-align:             left;
    margin-top:             25px;
  	width:                  250px;
	max-width:                250px;
}
#SecondSubheading{
    padding: 				1em;
    width:                  1000px;
    margin-left:            auto;
    margin-right:           auto;
    height:                 auto;
    text-align:             center;
}
#SecondSubheading h1{
    padding-top:            1em;
}
#SecondSubheading h2{
	text-align:             center;
}
#Project{
    margin-bottom:          0.5em;
    width:                  400px;
    height:                 450px;
    max-height:             450px;
    text-align:             left;
    margin-left:            40px;
    word-wrap: 				break-word; 
}
#Project h3{
    margin-left:            40px;
}
#Project p{
    margin-left:            40px;
	width:                  340px;
	max-width:              340px;
}
#Project li{
    margin-left:            47px;
    list-style-type: none;
}
#Project a{
    margin-left:            -7px;
    background-color:       rgba( 0,0,0,0 );
	padding:                4px;
    border:                 1.5px solid #440000;
    border-radius:          5px;
}
#Project a:hover{
    background-color:       rgba(255,255,255,0.5);
}
#ThirdSubheading{
    width:                  1100px;
    margin-left:            auto;
    margin-right:           auto;
    height:                 auto;
    text-align:             center;
    word-wrap: 				break-word;
}
#ThirdSubheading h1{
    padding-top:            2em;
}
#Team{
	padding:                1em;
	text-align:             left;
	background-color:       rgba(255,255,255,0.6);
    -webkit-box-shadow: 	0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 			0px 1px 6px rgba(23, 69, 88, .5);
    overflow: auto;
}
#Team h3{
    font-size: 45px;
}
.TeamAvatars{
    float: left;
    margin: 75px;
}
#Team p{
    margin 10px;
    max-width: 400px;
}
.TeamLinks{
    max-width:              25px;
    display:                inline-block;
    bottom:                 0px;
    font-size: 40px;
}
#Footer{
    clear: 					both;
    padding:                1em;
    margin-top:             35px;
    color: 					#CC0000;
    text-align:             center;
    bottom:                 0;
}
#Footer p{
    margin: 0px;
    font-size: 30px;
	font-family:            Elysia, Tahoma, Helvetica, Verdana;
}

/*Images and Fonts Below Here*/
#elysiaAvatar{
    background-image:       url( "/static/images/elysiaAvatar.jpg" );
    background-repeat:      no-repeat;
    background-position:    left;
    display:                inline-block;
    border-radius:          10px;
    width:                  300px;
    height:                 300px;
}
#jamesAvatar{
    background-image:       url( "/static/images/jamesAvatar.jpg" );
    background-repeat:      no-repeat;
    background-position:    left;
    display:                inline-block;
    border-radius:          10px;
    width:                  300px;
    height:                 300px;
}
#boomerAvatar{
    background-image:       url( "/static/images/boomerAvatar.jpg" );
    background-repeat:      no-repeat;
    display:                inline-block;
    background-position:    left;
    border-radius:          10px;
    width:                  300px;
    height:                 300px;
}
#dreamAvatar{
    background-image:       url( "/static/images/dreamAvatar.png" );
    background-repeat:      no-repeat;
    border-radius:          10px;
    height:                 3px;
    border:                 2px solid #440000;
    padding:                80px 170px;
    margin-left:            40px;
}
#ludumAvatar{
    background-image:       url( "/static/images/ludum.png" );
    background-repeat:      no-repeat;
    background-position:    left;
    border-radius:          10px;
    height:                 3px;
    width:                  5px;
    border:                 2px solid #440000;
    padding:                80px 170px;
    margin-left:            35px;
}
#questionAvatar{
    background-image:       url( "/static/images/question_mark.jpg" );
    background-repeat:      no-repeat;
    background-position:    left;
    border-radius:          10px;
    height:                 3px;
    width:                  5px;
    border:                 2px solid #440000;
    padding:                80px 170px;
    margin-left:            35px;
}
@font-face{
    font-family:         "Elysia";
    src:                 url( "/static/fonts/elysiafont3.ttf" );
}
@font-face{
    font-family:         "ElysiaSemi";
    src:                 url( "/static/fonts/elysiafont2.ttf" );
}
@font-face{
    font-family:         "ElysiaBold";
	src:                 url( "/static/fonts/elysiafont1.ttf" );
}
@font-face{
    font-family:         "Ubuntu";
	src:                 url( "/static/fonts/Ubuntu-R.ttf" );
}
