<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta name="HomePage" content="text/html; charset=iso-8859-1"></>
		<link rel="stylesheet" type="text/css" href="/static/css/homepage.css/" />
		<title>TheDevyard</title>
<!--    <link rel="stylesheet" type="text/css" href="/static/CSS/homepage.css/" />-->
	</head>
	<div id="container">
		<body>
<!--		Main Header and Links underneath-->
		<div id="Heading">
			<h1>The Devyard </h1>
			<div id="Links">
				<a href="">Game Code </a>
				<a href="">/ Twitter</a>
				<a href="">/ LINKS</a>
			</div>
		</div>
		<div id="FirstSubheading">
			<h2>Latest From the Blog<h2>
			<div id="TagLine">Here we post things</div>
				<h3>"Our new post about cakes"</h3>
				<div id="Date">published 20/09/2013 at 2:30am</div>
				<p>So this is a blog post, we write blogs...(read more)</p>
		</div>
		<div id="SecondSubheading">
			<h2>Our Projects</h2>
			<div id="TagLine">New Projects and Stuffs</div>
			<ul>
				<h3>Dreamhearth -- IndieSpeedRun 2013</h3>
				<h3>CakeGame -- Ludum Dare 2013</h3>
				<h3>Another Side Projects</h3>				
			</ul>
		</div>
		<div id="ThirdSubheading">
			<h2>The Team<h2>
			<div id="TagLine">See whos behind the Devyard</div>
			<ul>
				<a id="avatarElysia" href="/"></a>
				<h3>Elysia -- Artist</h3>
				<a id="avatarJames" href="/"></a>
				<h3>James -- Programmer</h3>
				<a id="avatarJames" href="/"></a>
				<h3>Boomer -- Programmer</h3>				
			</ul>
		</div>
		<div id="Navigation">
			<ul>
				<h3>Devyard</h3>
				<h3>Blog</h3>
				<h3>Projects</h3>
				<h3>Team</h3>
			</ul>
		</div>	
		<div id="Footer">
        	<p>The Devyard: (Copyright 2012)</p>
        	<p>Optimized for Google Chrome and Firefox</p>
    	</div>
		</div>
		</body>
	</div>
</html>
