{% extends "BlogMain.html" %}
    
{% block content %}
    <div id="blogHeading"><a href ="/blog/{{post.id}}"><h1>{{ post.title }}</h1></a></div>
        {% if "Boomer" in post.author or "boomer" in post.author %}
             <div id="boomerAvatar"></div>
        {% endif %}
        {% if "Elysia" in post.author or "elysia" in post.author %}
             <div id="elysiaAvatar"></div>
        {% endif %}
        {% if "James" in post.author or "james" in post.author %}
             <div id="jamesAvatar"></div>
        {% endif %}
        <ul>
            <div class="blogAuthor">By: {{ post.author }}</div>
            <div class="blogTime">on {{ post.created }}</div>
            <div class="blogBody">{{ post.body|safe|linebreaks }}
             <a href="/blog/{{page_obj.previous_page_number}}" class="blognav">Blog Home</a>
             </div>
         </ul>
{% endblock %}