<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<body>
	<div id="sidebar">{% block sidebar %} {% endblock %}</div>
	<head>
		<meta name="BlogMain" content="text/html; charset=iso-8859-1"/>
		<link rel="stylesheet" type="text/css" href="/static/css/ionicons.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/blogmain.css/" />
		<title>TheDevyard</title>
	</head>
	    <div id=TopHeading>
	    	<li>
				<a href="http://devyardweb.herokuapp.com/">Home</a>
				<a style="font-size:40px">&middot;</a>
	    	    <a href=#top>Top</a>
				{% if user.is_staff %}
				<a href="/admin/">(Add-A-Post</a>
				<a href="http://disqus.com/">Comments)</a>
				{% endif %}
	    	</li>
	    </div>
	<div id="container">
<!--		Main Header and Links underneath-->
        {% block content %}{% endblock %}
		<div id="Footer">
		    <p> Thanks to Steven at <a href="http://pandoraicons.deviantart.com/">PandoraIcons</a> for the awesome background!!</p>
        	<small>The Devyard: (Copyright 2012)</small>
        	<small>Optimized for Google Chrome and Firefox</small>
    	</div>
	 </div>
    </div>
</body>
</html>